.new-agents-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh; /* Adjust as needed */
    padding: 20px;
    background-color: #000000;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .new-agents-container h2 {
    color: #bfa64f;
    font-family: "Montserrat", Sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-top: 160px;
  }
  
  .new-agents-container .subtitle {
    font-size: 1.5rem;
    color: #777;
    font-family: "Montserrat", Sans-serif;
    margin-bottom: 20px;
  }
  
  .agents-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 40px; /* Space between pictures */
  }
  
  .agent-photo {
    width: 220px;
    height: 370px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    cursor: pointer;
    margin-bottom: 50px;
    z-index: 1000;
  }
  
  .apply-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #bfa64f;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .apply-button:hover {
    background-color: #8e7b37; /* Darker gold on hover */
  }
  
  .agent-details {
    color: #ffffff;
    font-family: "Montserrat", Sans-serif;
    font-size: 1.2rem;
    text-align: left;
    transform: translatex(100px);
    opacity: 0;
    background-color: #d3b855be;
    border: 1px solid #bfa64f;
    padding: 15px;
    margin-right: 35%;
  }