/* Overall container */
.catalogue-container {
    display: flex;
    height: fit-content; /* Full height */
    background-color: #f5f5f5; /* Light grey background */
  }
  
  /* Filters Section */
  .filters-container {

    padding-top: 100px;
  }


  .catalogue-filters {
    width: 25vw;
    padding: 20px;
  }
  
  .catalogue-filters h2 {
    font-size: 6rem;
    margin-bottom: 20px;
    color: #333;
  }
  
  .filters label {
    margin: 10px 0;
    color: #555;
  }

  .filters {
    border-top: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    transition: position 0.3s ease;
    transition: width 0.3s ease;
  }

  .fixed-filters {
    position: fixed;
    top: 10%;
    left: 20px;
    width: 22.5%;
    z-index: 1000;
  }
  
  /* Products Section */
  .catalogue-products {
    flex-grow: 1;
    padding: 20px;
    padding-top: 120px;
  }
  
  .view-toggle {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .view-toggle button {
    padding: 15px 20px;
    font-size: 1.25rem;
    border: none;
    background-color: red;
    color: white;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .view-toggle button:hover {
    background-color: #000000;
  }
  
  /* Products List */
  .products-list {
    display: grid;
    gap: 20px;
    width: 80%;
    height: 2000px;
  }
  
  .products-list.grid {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); /* Grid layout */
  }
  
  .products-list.list {
    grid-template-columns: 1fr; /* Single column for list layout */
  }
  
  /* Product Item */
  .product-item {
    background-color: transparent; /* Transparent background */
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    height: 100%;
  }
  
  .product-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .product-item.grid img {
    height: 200px;
  }
  
  .product-item.list {
    flex-direction: row; /* Horizontal layout for list view */
    align-items: center;
  }
  
  .product-item.list img {
    width: 25%;
    height: auto;
    margin-right: 20px;
    border-radius: 5px;
  }
  
  .product-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: flex-start;
    height: 100%;
    padding: 40px 20px 60px 20px;
  }
  
  .product-title {
    font-size: 2.1rem;
    color: red; /* Red title */
    margin-bottom: 5px;
  }
  
  .product-description {
    font-size: 1.5rem;
    color: grey; /* Grey description */
    margin-bottom: 10px;
  }
  
  .product-price {
    font-size: 1rem;
    color: black;
  }
  