/* Style for the home section */
.home {
  position: relative;
  min-height: 100vh;
  background-size: cover; /* Make the background cover the whole area */
  z-index: 1;
  animation: changeZIndex 0s ease-in 3s forwards;
  margin-top: 10px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

@keyframes changeZIndex {
  0% {
    z-index: 1;
  }
  100% {
    z-index: 0;
  }
}

.home-container {
  display: flex; /* Change to flexbox */
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  position: relative;
  padding: 30px;
  padding-bottom: 0px;
  padding-top: 40px;
  height: fit-content;
  min-height: 1400px;
  width: 100%;
  text-align: center;
  background: rgb(0, 0, 0);
  z-index: 0;
}

.top {
  position: relative;
  margin: 10px;
  padding: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}	

.home-top-row {
  position: relative;
  width: 90vw;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 80px;
  background-color: rgb(0, 0, 0);
}

.home-top-row::after, .home-top-row::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50.000%;
  width: 100.16%;
  height: 100%;
  display: flex;
  background: radial-gradient(circle, rgba(255, 255, 255, 0) 95%, white 100%);
  border-radius: 80px;
  translate: -50% -50%;
  z-index: -100;
}

.home-top-grid {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr; /* 3 columns: first and last are images (smaller), middle is content */
  grid-gap: 20px; /* Optional: space between columns */
  align-items: center; /* Vertically align items in the center */
}

.image-column {
  display: flex;
  justify-content: center; /* Center images horizontally */
  align-items: center; /* Center images vertically */
}

.image-column img {
  width: auto;
  height: 180px;
}

.content-column {
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  padding: 20px; /* Optional: add some padding around the content */
  background-color: #00000000; /* Optional: set a background color for the content */
}

.home-bottom-row {
  position: relative;
  display: flex;
  padding: 10px 20px;
  align-self: flex-end;
  text-align: end;
  height: 80%;
  width: 50%;
  margin-top: 150px;
  color: white;
  font-size: 2.5rem;
  z-index: 1000;
  padding: 50px;
}

.about-intro {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10px 5px;
  text-align: start;
}

.about-description {
  font-size: 3.5rem;
  color: #525050;
  line-height: 1.5;
}

.about-description span {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.3s ease;
}

.about-link-button {
  padding: 10px 20px;
  font-size: 2rem;
  color: #ffffff !important;
  background-color: #ff0000;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
}

.about-link-button p {
  font-size: 1.35rem;
}

.init-baseline {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -7%;
  left: 0;
  z-index: 1000;
  width: 100vw;
  height: 115vh;
  background-color: rgb(0, 0, 0);
  animation: moveOut 1s ease-in-out 2s forwards;
}

@keyframes moveOut {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

.baseline-start {
  background-color: rgb(0, 0, 0);
  width: 90%;
  height: 45%;
  bottom: 0%;
  position: absolute;
}

.img-title {
  height: 150px;
  width: auto;
  animation: moveUp 1s ease-in-out;
}

@keyframes moveUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.header {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.left {
  font-size: 1.5rem;
}

.l1 {
  font-size: 2rem;
  margin-top: 0.5rem;
}

.l2 {
  font-size: 2.5rem;
  margin-top: 0.5rem;
}

.main {
  margin: 20px 0;
}

.profile-img-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid white;
}

.footer {
  font-size: 1.2rem;
  margin-top: 20px;
}

.transparent-section {
  position: relative;
  z-index: -1; /* Ensures it stays above the background */
  min-height: 50vh;
  background-color: rgba(255, 255, 255, 0); /* Semi-transparent background */
  padding: 20px;
  text-align: center;
  color: #333;
  font-size: 1.5rem;
}

.three-js-container{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.foot-container {
    position: relative;
    z-index: -1; /* Ensure it stays above the background */
    padding: 20px;
    height: 95vh;
    width: 100vw;
    text-align: center;
    background-color: rgb(255, 255, 255);
}

.follow-div {
    position: fixed;
    top: 20%; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    z-index: -1000; /* Make sure it's above other content */
    padding: 10px 20px;
    width: 30vw;
    height: 70vh;
    background-color: rgba(0, 0, 0, 0); /* Semi-transparent background */
    color: white;
    border-radius: 8px;
    font-size: 1.2rem;
    z-index: 0;
  }

  .home-middle-row {
    background: linear-gradient(to bottom, rgb(0, 0, 0) 80%, transparent);
    padding: 10px 20px;
    padding-top: 150px;
    text-align: center;
    align-items: center;
    color: white;
    height: 100%;
    width: 95%;
    position: relative;
    top: calc(15vh - 100px);
  }

  .catalogue-section {
    text-align: left;
    padding: 20px;
    width: 20vw;
     margin-left: -5%; /* Move section to the left */
    background-color: transparent; /* Light background */
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: start;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .catalogue-description {
    font-size: 1.35rem;
    margin-bottom: 20px;
    color: #ffffff;
    line-height: 1.5;
  }

  .catalogue-button {
    padding: 10px 20px;
    font-size: 2rem;
    color: #ffffff !important;
    background-color: #ff0000;
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
  }

  .catalogue-button p  {
    font-size: 1.35rem;
  }
  
  .catalogue-button:hover {
    background-color: transparent;
    border-color: #ffffff;
  }

  /* Importación de la fuente PPObjectSans */
@font-face {
  font-family: 'PPObjectSans';
  src: url('/fonts/PPObjectSans-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Aplicación de la fuente en todo el cuerpo del documento */
body {
  font-family: 'PPObjectSans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff; /* Fondo blanco */
}


/* Estilo adicional para párrafos */
p {
  font-family: 'PPObjectSans', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  margin: 0.5rem 0;
}

.scroll-indicator {
  position: fixed;
  bottom: 20px; /* Ajusta según sea necesario */
  right: 20px; /* Ajusta según sea necesario */
  padding: 10px 15px; /* Espaciado interno */
  border-: 5px; /* Bordes redondeados */
  font-size: 16px; /* Tamaño de fuente */
  color: #ffffff; /* Color del texto */
}
